.custom-modal {
  max-width: 100%;
  margin: 0% 20%;
  top: 50%;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
}

.custom-clear-btn {
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.54) !important;
  font-size: 1em !important;
  border-radius: 50% !important;
  :hover {
    color: $blue !important;
  }
}
.clear-btn {
  border: 0px !important;
  background: transparent !important;
  color: white !important;
}
.no-padding {
  padding: 0;
}
.full-width {
  width: 100%;
}

.confirmation-image {
  height: 500px;
  object-fit: contain;
}

.margin-top {
  margin-top: 15px;
}

.flex-display {
  display: flex;
}

.full-button {
  flex: 1;
  align-items: center;
  display: flex;
}

.custom-invalid-input {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #f05050;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  // font-size: 1.25em;
  // font-weight: 700;
  color: white;
  background-color: #188eb9;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  // background-color: red;
  opacity: 0.8;
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}
.margin-left {
  margin-left: 15px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .padding-body-mobile {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .margin-body-mobile {
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  .padding-col-mobile {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .margin-btn-mobile {
    margin-top: 15px !important;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .padding-body-mobile {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .margin-body-mobile {
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  .padding-col-mobile {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .margin-btn-mobile {
    margin-top: 15px !important;
  }
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
  .padding-body-mobile {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .margin-body-mobile {
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  .padding-col-mobile {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .margin-btn-mobile {
    margin-top: 15px !important;
  }
  .margin-left {
    margin-left: 0px !important;
  }
}

.date-input .form-control:disabled,
.date-input .form-control[readonly] {
  background-color: white;
}

.uppercase-text {
  text-transform: uppercase;
}

.search-btn-mobile {
  width: 100%;
  height: 100%;
  background-color: #3778c2 !important;
  border-color: #3778c2 !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0 !important;
  font-weight: bold;
}

.search-input-mobile {
  flex: 1;
  height: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.whirl:before {
  background-color: transparent !important;
}
.title-section {
  margin: 40px 0;
  font-variation-settings: 'wght' 700;
  text-transform: uppercase;
  color: rgb(228, 187, 145);
  span {
    font-variation-settings: 'wght' 900;
    color: rgb(237, 135, 28);
  }
  &,
  span {
    font-size: 30px !important;
  }
}

/* For pdf */
.react-pdf__Page {
  margin-top: 10px;
}

.react-pdf__Page__annotations.annotationLayer {
  padding: 20px;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
}

/* For all pages */
.all-page-container {
  height: 100%;
  max-height: 500px;
  overflow: auto;
}
